<h1>File Uploader</h1>

<form action="/create" method="get">
  <button type="submit">Create Folder</button>
</form>

<form action="/upload" method="get">
  <button type="submit">Upload File</button>
</form>
